.vscode
.conda
**__pycache__**
/venv

*.json
*.pth
*.pdf
.pt
*.log
*.png 
*.npy
*.csv
*.tar


aws_access_key.txt
aws_secret_access_key.txt

secret.txt

/lca_results

/utils/lambdalabs/lambdalabs_api_key.txt
*.DS_Store
.DS_store

config.yaml
/classifiers/saved_configs
# /configuration/model_inversion/training/local.yaml
# /configuration/classifier/training/local.yaml
/outputs
/wandb
wandb-summary.json

/stylegan2-ada-pytorch
/Plug_and_Play_Attacks
/Defend_MI
/RoLSS
/hcrbounds
/IF_GMI
/autoattack
/Trap_MID
/PPDG_MI

/cloned_repos

/defenses/non_robust_data
/logs
experiments/experiment_wandb_runs
/memory_snapshots

# new_requirements.txt
# csv_making.py
# make_master_csvs.py
# old_make_master_csvs.py
# add_experiment_name_wandb.py
# run_lambdalabs.py

wandb_runs.txt
new_setup_packages.bash
client_secrets.json
gemini_api_key.txt
drop_layer_visualization.py
